{% extends 'base.html' %}
{% block content %}
{% load static %}

<body style="background-image: url('{% static "images/maxresdefault.jpg"%}')";></body>


  {% if object %}
    <h1 class="blue-grey-text">Edit <span class="teal-text">{{object.comic_name}}</span></h1>
  {% else %}
    <h1 class="blue-grey-text">Add Comic</h1>
  {% endif %}
  <div class="col s6 col-offset-3">
    <div class="card">
        <div class="card-content">
  <form action="" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="waves-effect blue-grey btn">
  </form>

  <script>
    var selectEl = document.getElementById('id_condition');
    M.FormSelect.init(selectEl);
  </script>
{% endblock %}