{% extends 'base.html' %}
{% block content %}
{% load static %}

<body style="background-image: url('{% static "images/Label_TJP.jpg"%}')";>


<h1 class="blue-grey-text">Record List</h1>

{% for record in record_list %}
  <a href="{% url 'records_detail' record.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ record.album_name }}</span>
            <p>Artist: {{record.artist}}</p>
        </div>
    </div>
  </a>
{% endfor %}

{% endblock %}