body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(/static/images/treasure_chest.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    font-family: 'Expletus Sans', cursive;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

  #main-logo {
      justify-content: center;
  }

  .search{
    display: flex;
    margin-top: 4px;
    margin-left: 100px;
  }
  .search input[type='submit']{
    margin-left: 10px;
    margin-top: 10px;
  }