body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("https://files.cults3d.com/uploaders/13746678/illustration-file/cdddf4bd-aaec-4371-8eae-b7aa1e4a42de/RobagoN_MMSquareWoodenTreasureChest_Varient1.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    font-family: 'Expletus Sans', cursive;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

  #main-logo {
      justify-content: center;
  }